
.hidden {
  display: none;
}

.inCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#clock {
  display: block;
  font-size: 5em;
  font-weight: bold;
}

#greeting {
  font-size: 20px;
  font-weight: bold;
}

.toDoInput {
  border-bottom: 1px solid white;
}

input::placeholder {
  color: white;
}

