
.hidden {
  display: none;
}

.inCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  height: 100vh;
  background-color: gray;
  background-image: url(../img/0.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(20px);

}

#todo-form {
  height:50px
}

#clock {
  font-size: 8em;
  font-weight: bold;
  color: white;
  /* text-shadow: 5px 5px 5px black; */
  margin-bottom: 100px;
  
}

#greeting {
  font-size: 25px;
  color: white;
  /* text-shadow: 3px 3px black; */
  margin-bottom: 100px;
  height:2px;

  
}

.toDoInput {
  border: 1px solid black;
  box-shadow: 3px 5px 2px 2px;
  color: rgba(0, 0, 0, 0.61);
  /* background: none; */
  width:30vw;
  height:3vh;
  margin-bottom: 270px;

}

input::placeholder {
  color: gray;
}

.toDOLi {
  font-size: 12px;

}

.deButton {
  background: none;
  width:20px;
  height: 20px;
  margin-left: 10px;
  border: none;
}

#quote {
  margin-top:100px;
}

#quote span:first-child {
  font-size: 16px;
  color: rgba(233, 233, 233, 0.801);
  letter-spacing: 3px;
  font-weight: bold;


}

#quote span:last-child {
  font-size: 16px;
  font-weight: bold;
  color:rgb(241, 238, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  backdrop-filter: blur(1px);

}

#weather {
  position: relative;
  top: 140px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:60vw;
  height:5vh;
  font-weight: bold;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(2px);

}

@media screen and (max-width:768px) {
 #clock {
  font-size: 7rem;
}
.toDoInput {
  border: 1px solid black;
  box-shadow: 3px 5px 2px 2px;
  color: rgba(0, 0, 0, 0.61);
  /* background: none; */
  width:70vw;
  height:4vh;
  margin-bottom: 270px;
}

}
  

