
.hidden {
  display: none;
}

.firstDiv {
  background-color: red;
}

.inCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  height: 100vh;
  background-color: gray;


}

#clock {
  font-size: 7em;
  font-weight: bold;
  color: white;
}

#greeting {
  font-size: 40px;
  font-weight: bold;
}

.toDoInput {
  border: 3px solid black;
  /* background: none; */
  width:50vw;
  height:3vh;
  margin-top: 50px;
}

input::placeholder {
  color: crimson;
}

.toDOLi {
  font-size: 20px;
  
}

.deButton {
  background: none;
  border: none;
  width:30px;
  height: 30px;
}

#quote {
  margin-top:150px;
}

#quote span:first-child {
  font-size: 16px;
  color: white;
}

#quote span:last-child {
  font-size: 16px;
  font-weight: bold;
  color:blue;
}

#weather {
  position: fixed;
  bottom: 0;
  font-size: 20px;
}
